TestWebService/binaryFile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://binaryFileService" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://binaryFileService">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://binaryFileService">
            <xs:element name="uploadWithDataHandler">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="file" nillable="true" type="xs:base64Binary"/>
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadWithDataHandlerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadWithByte">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="file" nillable="true" type="xs:base64Binary"/>
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadWithByteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="uploadWithDataHandlerRequest">
        <wsdl:part name="parameters" element="ns:uploadWithDataHandler"/>
    </wsdl:message>
    <wsdl:message name="uploadWithDataHandlerResponse">
        <wsdl:part name="parameters" element="ns:uploadWithDataHandlerResponse"/>
    </wsdl:message>
    <wsdl:message name="uploadWithByteRequest">
        <wsdl:part name="parameters" element="ns:uploadWithByte"/>
    </wsdl:message>
    <wsdl:message name="uploadWithByteResponse">
        <wsdl:part name="parameters" element="ns:uploadWithByteResponse"/>
    </wsdl:message>
    <wsdl:portType name="FileServicePortType">
        <wsdl:operation name="uploadWithDataHandler">
            <wsdl:input message="ns:uploadWithDataHandlerRequest" wsaw:Action="urn:uploadWithDataHandler"/>
            <wsdl:output message="ns:uploadWithDataHandlerResponse" wsaw:Action="urn:uploadWithDataHandlerResponse"/>
        </wsdl:operation>
        <wsdl:operation name="uploadWithByte">
            <wsdl:input message="ns:uploadWithByteRequest" wsaw:Action="urn:uploadWithByte"/>
            <wsdl:output message="ns:uploadWithByteResponse" wsaw:Action="urn:uploadWithByteResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FileServiceSoap11Binding" type="ns:FileServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadWithDataHandler">
            <soap:operation soapAction="urn:uploadWithDataHandler" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadWithByte">
            <soap:operation soapAction="urn:uploadWithByte" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FileServiceSoap12Binding" type="ns:FileServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadWithDataHandler">
            <soap12:operation soapAction="urn:uploadWithDataHandler" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadWithByte">
            <soap12:operation soapAction="urn:uploadWithByte" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FileServiceHttpBinding" type="ns:FileServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="uploadWithDataHandler">
            <http:operation location="uploadWithDataHandler"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadWithByte">
            <http:operation location="uploadWithByte"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FileService">
        <wsdl:port name="FileServiceHttpSoap11Endpoint" binding="ns:FileServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/FileService"/>
        </wsdl:port>
        <wsdl:port name="FileServiceHttpSoap12Endpoint" binding="ns:FileServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/FileService"/>
        </wsdl:port>
        <wsdl:port name="FileServiceHttpEndpoint" binding="ns:FileServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/FileService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
