TestWebService/crossSearch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://crossSession.Service" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://crossSession.Service">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://crossSession.Service">
            <xs:element name="findByName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findByNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="findByNameRequest">
        <wsdl:part name="parameters" element="ns:findByName"/>
    </wsdl:message>
    <wsdl:message name="findByNameResponse">
        <wsdl:part name="parameters" element="ns:findByNameResponse"/>
    </wsdl:message>
    <wsdl:portType name="SearchServicePortType">
        <wsdl:operation name="findByName">
            <wsdl:input message="ns:findByNameRequest" wsaw:Action="urn:findByName"/>
            <wsdl:output message="ns:findByNameResponse" wsaw:Action="urn:findByNameResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SearchServiceSoap11Binding" type="ns:SearchServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="findByName">
            <soap:operation soapAction="urn:findByName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SearchServiceSoap12Binding" type="ns:SearchServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="findByName">
            <soap12:operation soapAction="urn:findByName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SearchServiceHttpBinding" type="ns:SearchServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="findByName">
            <http:operation location="findByName"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SearchService">
        <wsdl:port name="SearchServiceHttpSoap11Endpoint" binding="ns:SearchServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/SearchService"/>
        </wsdl:port>
        <wsdl:port name="SearchServiceHttpSoap12Endpoint" binding="ns:SearchServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/SearchService"/>
        </wsdl:port>
        <wsdl:port name="SearchServiceHttpEndpoint" binding="ns:SearchServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/SearchService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
