TestWebService/SI_BUSINESS_XMJLFK_OUTService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:p1="urn:business2hr:xmjlfk"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SI_BUSINESS_XMJLFK_OUT"
	targetNamespace="urn:business2hr:xmjlfk">
	<wsdl:documentation />
	<wsdl:types>
		<xsd:schema targetNamespace="urn:business2hr:xmjlfk" xmlns="urn:business2hr:xmjlfk"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="MT_ECC_XMJLFK_IN" type="DT_ECC_XMJLFK_IN" />
			<xsd:element name="MT_BUSINESS_XMJLFK_OUT" type="DT_BUSINESS_XMJLFK_OUT" />
			<xsd:complexType name="DT_BUSINESS_XMJLFK_OUT">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">c9a52e8b4c2f11e39d190000003ce92a
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="ITEM" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="XBLNR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d7c1e65b4c3011e3bafc0000003ce92a
										</xsd:appinfo>
										<xsd:documentation>参考凭证号</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BUKRS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d7c1e65c4c3011e3c31e0000003ce92a
										</xsd:appinfo>
										<xsd:documentation>公司代码</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BUDAT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d7c1e65d4c3011e3913a0000003ce92a
										</xsd:appinfo>
										<xsd:documentation>过帐日期</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="LIFNR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d7c1e65e4c3011e3c2c30000003ce92a
										</xsd:appinfo>
										<xsd:documentation>项目经理编码</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="WRBTR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d7c1e65f4c3011e3ac5a0000003ce92a
										</xsd:appinfo>
										<xsd:documentation>罚款金额</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="REASON" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d7c1e6604c3011e3c34a0000003ce92a
										</xsd:appinfo>
										<xsd:documentation>罚款原因</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PRCTR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d7c1e6614c3011e38cce0000003ce92a
										</xsd:appinfo>
										<xsd:documentation>利润中心</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DT_ECC_XMJLFK_IN">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">fd8deb2b4c3011e395aa0000003ce92a
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="ITEM" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="XBLNR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">81c154264c3111e3a3f40000003ce92a
										</xsd:appinfo>
										<xsd:documentation>参考凭证号</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BUKRS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">81c154274c3111e382360000003ce92a
										</xsd:appinfo>
										<xsd:documentation>公司代码</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BELNR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">81c154284c3111e3a7f00000003ce92a
										</xsd:appinfo>
										<xsd:documentation>会计凭证编号</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="GJAHR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">81c154294c3111e3b3b50000003ce92a
										</xsd:appinfo>
										<xsd:documentation>会计年度</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="MSGTY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">81c1542a4c3111e3b9e00000003ce92a
										</xsd:appinfo>
										<xsd:documentation>消息类型</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="MSGTX" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">81c175734c3111e3a1e70000003ce92a
										</xsd:appinfo>
										<xsd:documentation>消息文本</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MT_BUSINESS_XMJLFK_OUT">
		<wsdl:documentation />
		<wsdl:part name="MT_BUSINESS_XMJLFK_OUT" element="p1:MT_BUSINESS_XMJLFK_OUT" />
	</wsdl:message>
	<wsdl:message name="MT_ECC_XMJLFK_IN">
		<wsdl:documentation />
		<wsdl:part name="MT_ECC_XMJLFK_IN" element="p1:MT_ECC_XMJLFK_IN" />
	</wsdl:message>
	<wsdl:portType name="SI_BUSINESS_XMJLFK_OUT">
		<wsdl:documentation />
		<wsdl:operation name="SI_BUSINESS_XMJLFK_OUT">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SI_BUSINESS_XMJLFK_OUT" />
			</wsp:Policy>
			<wsdl:input message="p1:MT_BUSINESS_XMJLFK_OUT" />
			<wsdl:output message="p1:MT_ECC_XMJLFK_IN" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SI_BUSINESS_XMJLFK_OUTBinding" type="p1:SI_BUSINESS_XMJLFK_OUT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="SI_BUSINESS_XMJLFK_OUT">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SI_BUSINESS_XMJLFK_OUTService">
		<wsdl:port name="HTTP_Port" binding="p1:SI_BUSINESS_XMJLFK_OUTBinding">
			<soap:address
				location="http://baomi/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_BUSINESS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BUSINESS_XMJLFK_OUT&amp;interfaceNamespace=urn%3Abusiness2hr%3Axmjlfk"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_SI_BUSINESS_XMJLFK_OUT" />
</wsdl:definitions>
